
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fullScreenLayout {
  min-height: 100vh;
  min-width: 100vw;
}

.fullScreenLayout .contentWrapper {
  padding: 80px;
  padding-top: 32px;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}